- content_for :page_title do
  = Spree.t(:edit_invoicexpress)

-# - content_for :page_actions do
-#   = button_link_to Spree.t(:back_to_authentication_methods_list), spree.admin_authentication_methods_path, icon: 'arrow-left', class: 'btn-primary'

= form_for @invoicexpress, url: admin_invoicexpress_path, method: :patch do |f|
  %div{'data-hook' => "admin_invoicexpress_form_fields"}
    .row
      .col-md-6
        .form-group{'data-hook' => "environment"}
          = f.label :api_key, Spree.t(:social_api_key)
          = f.text_field :api_key, class: 'form-control'
    
    .form-actions{'data-hook' => "buttons"}
      - if @invoicexpress.new_record?
        = button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success'}
      - else
        = button Spree.t('actions.update'), 'refresh', 'submit', {class: 'btn-success'}

